@{
    ViewBag.Title = "Demo1";
}

<h2>設定 AngularJS 應用程式的範圍</h2>

<ol>
    <li>
    建立 Module<br />
    var myApp = angular.module("exampleApp", []);
    </li>
    <li>
    在 HTML 文件設定 ng-app屬性<br />
    <pre>
&lt;div ng-app="exampleApp"&gt;
...
&lt;/div&gt;
    </pre>
    </li>
</ol>

<h2>實例如下：</h2>
<div ng-app="exampleApp" class="demo">exampleApp 作用範圍</div>

@section scripts{
    <script type="text/javascript">
        var myApp = angular.module("exampleApp", []);
    </script>
}
