<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Jamie\Desktop\TopPos.Web.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>TopPos</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TopPos.Data.Entities.BaseDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TopPos.Data.Entities.BaseDbContext, TopPos.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MasterContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TopPos.Data.Entities.MasterDbContext, TopPos.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SlaveContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TopPos.Data.Entities.SlaveDbContext, TopPos.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StoreContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TopPos.Data.Entities.StoreDbContext, TopPos.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MasterContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SlaveContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoreContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TopPos.Data.Entities.BaseDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TopPos.Data.Entities.BaseDbContext" />
  </ItemGroup>
</Project>