@{
    ViewBag.Title = "AngularJS Ajax Request 練習";
}

<h2>AngularJS Ajax Request 練習</h2>
<p>請於本頁進行以下的 Ajax 練習</p>
<div ng-app="exampleApp" ng-controller="demoCtrl">
    <ol>
        <li>以 get 方式從 server端 取得資料</li>
        <button type="button" ng-click="getData1()">get</button>
        <li>以 post 方式將資料送至 server端，並取得回應資料</li>
        <button type="button" ng-click="getData2()">post</button>
    </ol>
    <table class="list-table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>電話</th>
                <th>年齡</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="phone in phones">
                <td ng-bind="phone.name"></td>
                <td>{{phone.mobile}}</td>
                <td>{{phone.age}}</td>
            </tr>
        </tbody>
    </table>
    <table class="list-table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-bind="item.id"></td>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        var myApp = angular.module("exampleApp", []);

        myApp.controller("demoCtrl", function ($scope, $http) {
            // 在 $scope 上設定供畫面相關事件使用

            $scope.getData1 = function () {
                $http
                    .get('@Url.Action("GetPhones", "Ajax")')
                    .success(function (data) {
                        $scope.phones = data;
                    });
            };

            $scope.getData2 = function () {
                $http
                    .post('@Url.Action("GetItems", "Ajax")')
                    .success(function (data) {
                        $scope.items = data;
                    });
            };
        });
    </script>
}