@{
    ViewBag.Title = "Angularjs MVC Demo";
}

<h1>AngularjsMVC Demo</h1>

<table>
    <tr>
        <td style="vertical-align:top;">
            <h2>軟體需求</h2>
            <ol>
                <li>Visual Studio 2015</li>
                <li>jQuery 1.11.3</li>
                <li>jQuery UI 1.11.4 </li>
                <li>AngularJS 1.4.* (stable)</li>
                <li>Entity Framework 6</li>
            </ol>
        </td>
        <td style="vertical-align:top;padding-left:50px;">
            <h2>Sample Demo</h2>
            <ol>
                <li>@Html.ActionLink("AngularJS 資料繫結", "Demo1", "Demo")</li>
                <li>@Html.ActionLink("AngularJS Template Directive ", "Demo2", "Demo")</li>
                <li>@Html.ActionLink("AngularJS Filter", "Demo3", "Demo")</li>
                <li>@Html.ActionLink("AngularJS Ajax Request", "Demo4", "Demo")</li>
            </ol>
        </td>
    </tr>
</table>

