.menu {
    width: 200px;
}
.menu a {
    width:198px;
    display:block;
}
.menu ul > li > h2 {
    padding: 10px;
    font-size: 16px;
    color: #000;
    border-bottom: solid 1px #acacac;
    cursor:pointer;
}
.menu ul > li.node {
    background: url(images/menu/menu-arrow.png) no-repeat 175px 20px;
}
.menu ul > li > h2 > a,
.menu ul > li > ul > li > h2 > a
{
    color: #000;
}
.menu ul > li > ul {
    background-color: #FFFFF2;
    width: 198px;
}
.menu ul > li > ul > li > h2 {
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 8px 0 8px 27px;
    border:none;
}
.menu ul > li > ul > li > h2 > a{
    width:170px;
}
.menu ul > li > ul > li.node {
    background: url(images/menu/menu-arrow_b.png) no-repeat 14px 16px;
}
.menu ul > li > ul > li > h2:hover{
    color: #ee7301;
}
.menu ul > li > ul > li > ul > li > h2 {
    background: none;
    display: block;
    font-size: 14px;
    color: #ee7301;
    text-decoration: none;
    padding: 8px 0 8px 44px;
    font-weight:normal;
}
.menu ul > li > ul > li > ul > li > h2 > a {
    color: #ee7301;
    width:150px;
}
.menu ul > li > ul > li > ul > li > h2 > a:hover {
    font-weight:bold;
}
.menu ul > li > ul {
    display:none;
}
.expand {
    display:block !important;
}