<style>
    .table-desc {
    }

        .table-desc th {
            background-color: #CCC;
            color: #333;
        }

        .table-desc tbody > tr {
            background-color: white !important;
        }

        .table-desc td {
            border: 1px solid #CCC;
        }

    td {
        vertical-align: top;
    }
</style>

<div ng-controller="customDirectiveCtrl">
    <div><h2><a href="#/">Back to Home</a></h2></div>
    <br/>
    <h3>Customized Column</h3>
    <form name="myForm" novalidate ng-submit="doSubmit(newEntity)">
        <div class="innerBox">
            <button type="button" class="btn btn-warning" ng-click="togglefieldDisabled()" ng-bind="fieldDisabled ? 'Enable' : 'Disabled'"></button>
            <table class="table-list">
                <thead>
                    <tr>
                        <th style="width:15%;">column</th>
                        <th style="width:15%;">limit</th>
                        <th style="width:70%">how to use</th>
                    </tr>
                </thead>
                <tr>
                    <td>phone</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">tel</span>" /&gt;<br />
                        <input type="text" name="TelOffice" class="tel" ng-model="newEntity.TelOffice" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>date</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">date</span>" /&gt;<br /><br />
                        <input type="text" name="EndDate" class="date" ng-model="newEntity.EndDate" ng-disabled="fieldDisabled" />sample<br />
                        <input type="text" class="date" ng-model="newEntity.EndDate2" min-date="newEntity.EndDate" ng-disabled="fieldDisabled" />prev column set minDate<br />
                        <input type="text" class="date" ng-model="newEntity.EndDate3" min-date="'2016/01/05'" max-date="'2016/01/25'" ng-disabled="fieldDisabled" />fixDalue do minDate and maxDate<br />
                        <input type="text" class="date" ng-model="newEntity.EndDate4" show-max-date="true" ng-disabled="fieldDisabled" />showMaxDate<br />
                    </td>
                </tr>
                <tr>
                    <td>time</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">time</span>" /&gt;<br />
                        <input type="text" name="StartTime" class="time" ng-model="newEntity.StartTime" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>IP</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">ipv4</span>" /&gt;<br />
                        <input type="text" name="ClientIP" class="ipv4" ng-model="newEntity.ClientIP" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>letterOnly</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" <span class="text-danger">letter-only</span> /&gt;<br />
                        <input type="text" name="letterOnly" letter-only ng-model="newEntity.letterOnly" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>uppderCase</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" <span class="text-danger">uppercase</span> /&gt;<br />
                        <input type="text" name="Uppercase" letter-only uppercase ng-model="newEntity.Uppercase" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>lowerCase</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" <span class="text-danger">lowercase</span> /&gt;<br />
                        <input type="text" name="Lowercase" letter-only lowercase ng-model="newEntity.Lowercase" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>amount</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">amount</span>" /&gt;<br />
                        <input type="text" name="Amount" class="amount" ng-model="newEntity.Amount" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>amount float</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">amount</span>" <span class="text-danger">amount-float</span>="<span class="text-info">Decimal</span>" /&gt;<br />
                        <input type="text" name="Amount" class="amount" amount-float="2" ng-model="newEntity.AmountFloat" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>amount fix float</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">amount</span>" <span class="text-danger">amount-float</span>="<span class="text-info">Decimal</span>" <span class="text-danger">amount-fix-float</span>="<span class="text-info">true</span>" /&gt;<br />
                        <input type="text" name="Amount" class="amount" amount-float="2" amount-fix-float="true" ng-model="newEntity.AmountFixFloat" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td>amount noOperator</td>
                    <td>class</td>
                    <td class="nowrap">
                        &lt;input type="text" class="<span class="text-danger">amount</span>" <span class="text-danger">no-operator</span>="<span class="text-info">bool</span>" /&gt;<br />
                        <input type="text" name="Amount" class="amount" no-operator="true" ng-model="newEntity.noOperator" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
                <tr>
                    <td class="nowrap">dialog-field</td>
                    <td>class</td>
                    <td>
                        &lt;input type="text" <span class="text-danger">dialog-field</span>="<span class="text-info">kind</span>" /&gt;<br /><br />
                        <input type="text" dialog-field="area" ng-model="newEntity.Area" name-value="newEntity.AreaName" ng-disabled="fieldDisabled" />
                    </td>
                </tr>
            </table>

            <br />
            <table class="table-list">
                <tr>
                    <td>autoComplete</td>
                    <td>class</td>
                    <td>
                        &lt;input type="text" <span class="text-danger">auto-complete</span>="<span class="text-info">options</span>" /&gt;<br />
                        input(0 or 1)<input type="text" auto-complete="autoCompleteOpt" ng-model="newEntity.testData" />
                    </td>
                </tr>

                <tr>
                    <td>textLength</td>
                    <td>tag</td>
                    <td class="nowrap">
                        &lt;input name="textLength" type="text" ng-model="test.textLength" /&gt; <br />
                        <span class="text-danger">&lt;text-length for="textLength" &lt;/text-length&gt;  </span>"
                        <br />
                        please input：<input name="textLength" type="text" ng-model="newEntity.textLength" />
                        <text-length for="textLength"></text-length>
                    </td>
                </tr>
                <tr>
                    <td>allow-pattern</td>
                    <td>Attribute</td>
                    <td>
                        &lt;input type="text" <span class="text-danger">allow-pattern</span>="<span class="text-info">regex(例：\d)</span>" /&gt;
                        <br />
                        <input type="text" name="allowPattern" ng-model="newEntity.allowPattern" allow-pattern="\d" />(only num0-9)
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <button type="submit" class="btn" ng-disabled="myForm.$invalid">submit</button>
                            <button type="button" class="btn" ng-click="reset()">reset</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>

<h3>use dialogService show jQuery UI dialog</h3>
<div class="innerBox" ng-controller="customServiceCtrl">
    <button type="button" class="btn" ng-click="openMsgDialog()">messageDialog</button>
    <button type="button" class="btn" ng-click="openHtmlMsgDialog()">messageDialog(HTML content)</button>
    <button type="button" class="btn" ng-click="openConfirmDialog()">confirmDialog</button>
</div>

<h3>page tool</h3>
<div class="innerBox" ng-controller="paginCtrl">
    <table>
        <tr>
            <td></td>
            <td><button type="button" ng-click="queryStore(store)">query page data</button></td>
        </tr>
    </table>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{ item.Id }}</td>
                <td>{{ item.Name }}</td>
            </tr>
        </tbody>
    </table>
    <div pagination="pagingOpts"></div>
</div>

<h3>Client page tool</h3>
<div class="innerBox" ng-controller="paginCtrl2">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | take: skipCount: getCount">
                <td>{{ item.Id }}</td>
                <td>{{ item.Name }}</td>
            </tr>
        </tbody>
    </table>
    <div local-pagination="pagingOpts"></div>
    <button type="button" ng-click="changeTotalItems()"> Paging data</button>

</div>

<h3>image upload use html5</h3>
<div class="innerBox" ng-controller="customDirectiveCtrl">
    <table class="table-list">
        <tr>
            <td>imageUpload</td>
            <td>tag</td>
            <td>
                <div>
                    <image-upload ng-model="ImageUrl" img-file="imgFile" max-size="200"></image-upload>
                </div>
                <br />
            </td>
        </tr>
    </table>
</div>

<h3>entertab</h3>
<div class="innerBox" ng-controller="entertabCtrl">
    Enter replace Tab  move next and focus
    <div entertab-block="myBlock">
        <table class="table-form">
            <tr>
                <th>input</th>
                <td><input entertab /></td>
            </tr>
            <tr>
                <th>select</th>
                <td>
                    <select entertab>
                        <option>--select--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    radio button
                </th>
                <td>
                    <input type="radio" name="radio" ng-model="radio" value="1" entertab />1
                    <input type="radio" name="radio" ng-model="radio" value="2" entertab />2
                    <input type="radio" name="radio" ng-model="radio" value="3" entertab />3<br>
                </td>
            </tr>          
            <tr>
                <th>
                    textarea
                </th>
                <td>
                    <textarea ng-model="area" entertab /><br>
                </td>
            </tr>
        </table>
        <table class="table-list">
            <thead>
                <tr>
                    <th colspan="3">myBlock </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td><input ng-model="item.a" entertab /></td>
                    <td><input ng-model="item.b" entertab /></td>
                    <td><input ng-model="item.c" entertab /></td>
                    <td><button ng-click="remove($index)">delete row</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div entertab-block="myBlock2">
        <table class="table-list">
            <thead>
                <tr>
                    <th colspan="3">Block reset</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item2 in items2">
                    <td><input ng-model="item2.a" entertab /></td>
                    <td><input ng-model="item2.b" entertab /></td>
                    <td><input ng-model="item2.c" entertab /></td>
                    <td><button ng-click="remove2($index)">delete row</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>delete confirm</h3>
<div class="innerBox" ng-controller="deleteConfirmCtrl">
    <table class="table-desc">
        <thead>
            <tr>
                <th>description</th>
                <th>demo</th>
            </tr>
        </thead>
        <tr>
            <td>not use delete-confirm</td>
            <td><button type="button" class="btn" ng-click="deleteData()">delete</button></td>
        </tr>
        <tr>
            <td>use delete-confirm</td>
            <td><button type="button" class="btn" ng-click="deleteData()" delete-confirm>delete</button></td>
        </tr>
    </table>
</div>

<h3>no data</h3>
<div class="innerBox" ng-controller="noitemCtrl">

    <button type="button" class="btn" ng-click="queryHasData()">query have data</button>
    <button type="button" class="btn btn-warning" ng-click="queryNoData()">query no data</button>

    <table class="table-list" ng-show="items && items.length>0">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
        </tr>
    </table>
    <div noitem="items"></div>
</div>
<h3> file to ngModel</h3>
<div class="innerBox" ng-controller="fileUploadCtrl">
    <p>
        &lt;file-upload ng-model="yourObject" ng-change="yourEvent" params="fileOptions" /&gt;
        <br />
    </p>

    <input type="button" ng-click="addOne()" value="add a new file" />
    <div ng-repeat="fm in SimpleModelList">
        <div>
            arrayIndex: {{$index}}
            <p>Name : {{fm.Name}}</p>
            <p>Type : {{fm.MIMEType}}</p>
            <p>Size : {{fm.size}}</p>
            <file-upload ng-change="assignValue(fm)" ng-model="fm.fileList" params="fm.params" />
        </div>
        <br />
    </div>
    <br />
    Content:<pre>{{SimpleModelList | json}}</pre>
    <hr />
</div>