@{
    ViewBag.Title = "Sample Demo AngularJS MVC ";
}
<div ng-app="SampleDemoApp" ng-controller="SampleDemoCtrl">
    <div class="Container">
        <h4>Angularjs Data</h4>
        <li class="ng-non-bindable">Use {{ }} inline Data</li>
        <div>Today : {{day}}</div>
        <li>Use ng-model  :</li>
        <input type="text" ng-model="day" />
        <li>Use ng-bind  : </li>
        <span ng-bind="htmlData"</span>
    </div>
    <div class="Container">
        <h4>Angularjs Data repeat</h4>
        <li>ng-repeat</li>
        <table class="list-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>mobile</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in phonesTemp">
                    <td ng-bind="phone.name"></td>
                    <td ng-bind="phone.mobile"></td>
                    <td ng-bind="phone.age" style="text-align: right"></td>
                </tr>
            </tbody>
        </table>
        <li>ng-include loading HTML document</li>
        <ng-include src="'@Url.Content("~/Content/html/Page1.html")'"></ng-include>
    </div>
    <div class="Container">
        <h4>Angularjs Data Filter</h4>
        <li>Filter(Name Upper)</li>
        <table class="list-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>mobile</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in phonesTemp">
                    <td>{{phone.name | uppercase}}</td>
                    <td>{{phone.mobile}}</td>
                    <td style="text-align: right">{{phone.age}}</td>
                </tr>
            </tbody>
        </table>
        <li>Filter(query Name like 'J')</li>
        <table class="list-table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>mobile</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in phonesTemp | filter:'J' | orderBy:'age'">
                    <td ng-bind="phone.name"></td>
                    <td ng-bind="phone.mobile"></td>
                    <td ng-bind="phone.age" style="text-align: right"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="Container">
        <h4>Angularjs Data get post</h4>
        <li>http get  server data</li>
        <button type="button" ng-click="getData1()">get</button>
        <li>http post server data</li>
        <button type="button" ng-click="getData2()">post</button>
        <table class="list-table">
            <thead>
                <tr>
                    <th>(http get)Name</th>
                    <th>mobile</th>
                    <th>age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in phones">
                    <td ng-bind="phone.name"></td>
                    <td>{{phone.mobile}}</td>
                    <td>{{phone.age}}</td>
                </tr>
            </tbody>
        </table>
        <table class="list-table">
            <thead>
                <tr>
                    <th>(http post)id</th>
                    <th>name</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="item.id"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var myApp = angular.module("SampleDemoApp", []);
        myApp.controller("SampleDemoCtrl", function ($scope, $http) {
            var dayNames = ["Sunday", "Monday", "Tuesday", "Wendesday",
                "Thursday", "Friday", "Saturday"];
            $scope.day = dayNames[new Date().getDay()];
            $scope.htmlData = 'This a Link';

            $scope.phonesTemp = [
           { 'name': 'John', 'mobile': '0909123456', 'age': 20 },
           { 'name': 'Mary', 'mobile': '0909123457', 'age': 30 },
           { 'name': 'Jack', 'mobile': '0909123458', 'age': 25 }
            ];

            $scope.getData1 = function () {
                $http
                    .get('@Url.Action("GetPhones", "Ajax")')
                    .success(function (data) {
                        $scope.phones = data;
                    });
            };

            $scope.getData2 = function () {
                $http
                    .post('@Url.Action("GetItems", "Ajax")')
                    .success(function (data) {
                        $scope.items = data;
                    });
            };
        });
    </script>
}