@* 群組對話框 *@
<div ng-controller="areaListDialogCtrl">
    <div class="innerBox">
        <table>
            <tr>
                <td class="Subtopic">群組</td>
                <td><input type="text" ng-model="data.AreaID" /></td>
            </tr>
            <tr>
                <td class="Subtopic">群組名稱</td>
                <td><input type="text" ng-model="data.AreaNM" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="button" class="btn" ng-click="queryData(data)"><span class="btn-icon btn-icon-search"></span>查詢</button></td>
            </tr>
        </table>
    </div>

    <div class="list-container">
        <table class="list-table">
            <thead class="set-thead">
                <tr>
                    <th>勾選</th>
                    <th style="width:100px">群組</th>
                    <th>群組名稱</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" ng-click="item.Checked = !item.Checked; updateData();">
                    <td align="center"><input type="checkbox" ng-model="item.Checked" ng-click="item.Checked = !item.Checked; updateData();" /></td>
                    <td>{{ item.Id }}</td>
                    <td>{{ item.Name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>